version: "3.9"
services:
  postgres:
    image: postgres:16-alpine
    container_name: productvault-db
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: product-vault
      POSTGRES_DB: productvaultdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
